﻿<ion-view ng-controller="AboutCtrl">
    <ion-nav-title>
       О пројекту
    </ion-nav-title>
    <ion-content>
        <img class="full-image" src="img/panorama_ns.jpg" />
        <p>
           WeLive пројекат je финансиран од странe Европскe Комисиje у оквиру Х2020 програма за истраживањe, развоj и иновациje под броjeм #645845 
        </p>
        <button class="button button-full button-assertive" ng-click="goToPoll()">
            <i class="icon ion-clipboard"></i>
            Анкета
        </button>
        
    </ion-content>
</ion-view>
