﻿<ion-view view-title="Набавка" ng-controller="DetailCtrl">
    <ion-content>
        <div class="list">
            <div class="item item-icon-right" ng-click="goToNabavku(data.link)">
                <p>Број набавке</p>
                <span>{{data.id}}</span>
                <i class="icon ion-arrow-right-b"></i>
            </div>
            <div class="item">
                <p>Наручилац</p>
                <span style="overflow: initial;white-space: initial;">{{data.naziv_narucioca}}</span>
            </div>

            <div class="item">
                <p>Датум</p>
                <span>{{data.datum_poslednje_izmene | amDateFormat:'DD.MM.YYYY.'}}</span>
            </div>
            <div class="item">
                <p>Назив документа</p>
                <span style="overflow: initial;white-space: initial;">{{data.naziv_dokumenta}}</span>
            </div>
            <div class="item ">
                <p>Телефон</p>
                <span>{{data.telefon}}</span>
            </div>
            <div class="item ">
                <p>Контакт особа</p>
                <span style="overflow: initial;white-space: initial;">{{data.kontakt_ososba}}</span>
            </div>
            <div class="item ">
                <p>Место</p>
                <span style="overflow: initial;white-space: initial;">{{data.naziv_mesta}}</span>
            </div>
            <div class="item ">
                <p>Општина</p>
                <span style="overflow: initial;white-space: initial;">{{data.naziv_opstina}}</span>
            </div>
            <div class="item ">
                <p>Врста предмета</p>
                <span style="overflow: initial;white-space: initial;">{{data.vrsta_predmeta}}</span>
            </div>
            <div class="item ">
                <p>Предмет набавке</p>
                <span style="overflow: initial;white-space: initial;">{{data.predmet_nabavke}}</span>
            </div>
            <div class="item ">
                <p>Врста поступка</p>
                <span style="overflow: initial;white-space: initial;">{{data.vrsta_postupka}}</span>
            </div>
            <div class="item ">
                <p>Својина</p>
                <span style="overflow: initial;white-space: initial;">{{data.oblik_scojine}}</span>
            </div>
            <div class="item ">
                <p>Делатност наручиоца</p>
                <span style="overflow: initial;white-space: initial;">{{data.delatnost_narucioca}}</span>
            </div>
            <div class="item ">
                <p>Категорија наручиоца</p>
                <span style="overflow: initial;white-space: initial;">{{data.kategoraija_narucioca}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>