﻿<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Филтер</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Затвори</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form>
            <div class="list">
                <div class="item item-text-wrap">
                    Место <br />
                    <button class="button button-small button-calm icon-right ion-chevron-right" modal-title="Одаберите место" modal-select="" ng-model="filter.mesto"  cancel-button="Откажи" search-placeholder="Претрага" on-select="getMestoSelect(newValue, oldValue)" cancel-search-button="Поништи" reset-button="Поништи" options="mesta"  has-search="true">
                        {{ filter.mesto.naziv || &apos;Изаберите место&apos;}}
                        <div class="option">
                            <h2>{{option.naziv}}</h2>
                        </div>
                    </button>
                </div>
                <div class="item item-text-wrap">
                    Врста поступка <br />
                    <button class="button button-small button-calm icon-right ion-chevron-right" modal-title="Одаберите вр. поступка" modal-select="" ng-model="filter.vrstaPostupka" cancel-button="Откажи" on-select="getVrstaPostupkaSelect(newValue, oldValue)" search-placeholder="Претрага" cancel-search-button="Поништи" reset-button="Поништи" options="vrstaPostupka"  has-search="true">
                        {{ filter.vrstaPostupka.naziv || &apos;Изаберите врсту поступка&apos;}}
                        <div class="option">
                            <h2>{{option.naziv}}</h2>
                        </div>
                    </button>
                </div>
                <div class="item item-text-wrap">
                    Категорија наручоца <br />
                    <button class="button button-small button-calm icon-right ion-chevron-right" modal-title="Одаберите делатност" modal-select="" ng-model="filter.kategorijaNarucioca" cancel-button="Откажи" search-placeholder="Претрага" cancel-search-button="Поништи" reset-button="Поништи" options="kategorijaNarucioca" on-select="getKategorijaNaruciocaSelect(newValue, oldValue)" has-search="true">
                        {{ filter.kategorijaNarucioca.naziv || &apos;Изаберите делатност&apos;}}
                        <div class="option">
                            <h2>{{option.naziv}}</h2>
                        </div>
                    </button>
                </div>





                <label class="item">
                    <button class="button button-block button-positive" ng-click="createFilter()" type="submit">Примени</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
