﻿
<ion-view view-title="Набавке" ng-controller="NabavkeListCtrl">
    <ion-nav-buttons side="right">
        <button class="button icon ion-android-search" ng-click = "openModal()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item item-text-wrap item-icon-right" ng-href="#/app/detail/{{nabavka.id}}" ng-repeat="nabavka in nabavke">
                <h2>{{nabavka.naziv_narucioca}}</h2>
                <p>{{nabavka.naziv_mesta}}-{{nabavka.datum_poslednje_izmene | amDateFormat:'DD.MM.YYYY.'}}</p>
                <i class="icon ion-arrow-right-b"></i>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="haveNabavke" on-infinite="loadOlder()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>



