﻿<ion-view view-title="Статистика" ng-controller="StatCtrl">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Број јавних набавки по месту
            </div>
            <div class="item item-text-wrap">
                <canvas id="bar" class="chart chart-bar" data="data" chart-labels="labels" legend="true" series="series" options="options"  height="400"></canvas>
            </div>
        </div>
    </ion-content>
</ion-view>