<ion-view hide-back-button="true" view-title="Услови коришћења">
    <ion-nav-buttons></ion-nav-buttons> <!-- remove navbar's buttons -->
    <ion-content></ion-content>
    <!-- if we put the privacy policy's 'div' inside 'ion-content', ionic creates the
       'transform' style in the 'ion-content' element's first child, which causes the policy
       not to be displayed. Is neccesary to remove this style but is difficult because it is
       created dinamically.
       Instead we put the 'div' element outside the 'ion-content', so is neccesary to change
       'margin-top' property of .help-title class (see privacy.css) to prevent the title is hidden -->

    <div>
        <div id="policy_screen">
            <div class="help_title">WELIVE УСЛОВИ КОРИШЋЕЊА</div>

            <div class="policy_box">

                <div class="policy_text">

                    <p class="tool_tit">1.	УВОД: Услови се примењују широм света, изузев у земљама у којима објавлјујемо посебне територијалне  услове.</p>

                    <p class="tool_desc">Ови услови („Услови“) представљају скуп важних информација у вези са правима, обавезама и ограничењима која се могу применити на вас као корисника (“Корисника”) када приступите Интернет страници  хттп://ww.WeLive.еу/сервер  (“Вебсајт”) или када приступите, преузимете и користите апликацију WeLive Player и апликацију различитих јавних сервиса (“Апликација”), без обзира на сервисе које се пружају њеним коришћењем. Апликација делује као тржиште (маркетплаце) за апликације које су развијене у оквиру WeLive пројекта, омогућавајући корисницима да открију које апликације су доступне њиховом окружењу путем коришћења јавних података. Осим тога, вебсајт омогућава приступ другим артефактима као што су: апликације јавних сервиса, компоненте за креирање (буилдинг блоцкс) и скупови података (дата сетс). Вебсајт и Апликација, тамо где се то изричито не предвиђа другачије, испоручују се од стране свих партнера који чине WeLive конзорцијум. WeLive пројекат (хттп://www.WeLive.еу )  је добио средства Европске Уније у оквиру Х2020 Програма за истраживање, технолошки развој и демонстрацију, на основу Уговора о донацији  бр. 645845.</p>

                    <p class="tool_desc">Ови Услови су доступни у Апликацији која је инсталирана на вашем уређају или на вебсајту.</p>

                    <p class="tool_desc">Морате прихватити Услове и друге важеће законе у вези са употребом WeLive, у случају да желите да користите  Апликацију, вебсајт и WeLive оквир и било коју другу врсту артефакта у вези са WeLive -ом.</p>

                    <p class="tool_desc">Уколико се не слажете са наведеним Условима или сматрате да ће њихове евентуалне будуће промене бити неприхватлјиве за вас, немојте користити WeLive. Коришћењем WeLive-а, уклјучујући, али не ограничавајући се на вебсајт, Апликацију, компоненте за креирање (буилдинг блоцкс), скупове података (дата сетс),апликације јавних сервиса, апдејтове, итд., сматраћемо да сте прихватили наведене Услове и сваку унету промену коју будемо на њих применили. Тиме ви прихватате да користите WeLive само у сврхе које су законите, ваљане и у складу са наведеним Условима и свим примењивим прописима.</p>

                    <p class="tool_desc">Сматрамо прихватате Услове, када их изричито прихватите током процеса регистрације и / или у процесу инсталације апликације, када је преузмете или апдејтујете или када је користите у свом уређају.</p>

                    <p class="tool_tit">2. ПОЛИТИКА КОРИШЋЕЊА</p>

                    <p class="tool_desc">WeLive представља отворени оквир  (опен соурце фрамеwорк)  који се нуди бесплатно, уз могућност коришћења без ограничења. Обавезујете се на разумно коришћење вебсајта и Апликације и сваку другу врсту артефакта. Преплављивање или утицање на перформансе система прекомерним читањем или писањем података које утиче на коришћење Сервиса од стране других корисника, представља кршење Услова.</p>

                    <p class="tool_desc">Вебсајт и Апликација вам пружају могућност да објавите неке информације. Бићете одговорни за све информације, мишлјења, коментаре, итд. које изнесете у WeLive-у, директно или путем вебсајта, Апликације и/или сервиса. Корисник се обавезује да неће објавлјивати, или подстицати на објавлјивање: </p>

                    <ul>
                        <li> 	информације које су увредлјиве, дискриминишуће, понижавајуће, непристојне, итд., или које могу да повреде друге у погледу расе, религије, пола или етничке припадности; </li>
                        <li> 	сваки материјал који подстиче на чињење злочина;</li>
                        <li> 	материјал који није ваш, за који немате овлашћење да га објавите или кршите ауторска права, патенте или ознаке;</li>
                        <li> 	рекламе, спамове, пирамидалне шеме;</li>
                        <li> 	информације у циљу обмане других корисника; </li>
                        <li> 	информације о нарушавању сигурности; </li>
                        <li> 	датотеке које садрже вирус, тројанце или неку другу врсту злонамерног кода који може утицати на вршење перформанси или друге кориснике;</li>
                        <li> 	датотеке, линкове или друге материјале којим се покушавају украсти налози других корисника; </li>
                        <li> 	сваки комад софтвера који се користи за прикуплјање информација од другог корисника; </li>
                        <li> 	свака друга ствар која се користи уциљу заобилажења или непоштовања важећих локалних закона.</li>
                    </ul>

                    <p class="tool_desc">У појединим ситуацијама ћете морати да се региструјете на вебсајту и /или на некој од апликација како би могли да их користите. Корисник се обавезује да обезбеди тачне информације у току процеса регистрације и кад год Сервис од њега то затражи. Морате апдејтовати информације када у њој постоје промене. У случају сумње у истинитост ваших података, имамо право да суспендујемо ваш налог.</p>

                    <p class="tool_desc">Повреда политике коришћења ће проузроковати отказивање корисничког налога и одбијање за стварање новог, а такође можемо применити неке методе како би се избегло будуће коришћење Апликације од стране корисника који имају забрану.</p>

                    <p class="tool_desc">Можемо променити Сервис у сваком тренутку, додајући, модификујући или сужавајући неки од њих. Настојаћемо да наведене промене спроведемо у разумним границама. Уколико наставите да користите Сервис, сматраћемо да сте прихватили  те промене, као и услове.</p>

                    <p class="tool_tit">3. ПЛАЋАЊЕ СЕРВИСА</p>

                    <p class="tool_desc">Вебсајт, Апликација, јавни сервиси и свака друга друга врста артефакта која се обезбеђује у WeLive-у су бесплатни.</p>
                    <p class="tool_desc">У случају да одлучимо да променимо Сервис или један његов део, у Сервис у којем се плаћа коришћење, о томе бисмо вас обавестили и цене одредили на разуман начин, остављајући доволјно времена  корисницима да престану да користе Сервис уколико не желе да га плате.</p>
                    <p class="tool_desc">Апликацији може бити потребан приступ мрежи за исправан рад. Приступ мрежи може да значи додатне трошкове за коришћење мреже за пренос података. Ови трошкови се не могу приписати WeLive-у и корисник их мора сам сносити.</p>


                    <p class="tool_tit">4. ПРИВАТНОСТ ПОДАТАКА</p>

                    <p class="tool_desc">Када попуните формулар за регистрацију на вебсајту или у некој од апликација, ви пружите неке личне податке за које очекујете да ће се њима управлјати савесно. ТЕЦНАЛИА Ресеарцх анд Инноватион (“ТЕЦНАЛИА”) и остали партнери у WeLive конзорцијуму ће управлјати подацима на одговарајући начин и увек у складу са локалним прописима или, када је то применлјиво, Европски прописима у вези са заштитом података.</p>
                    <p class="tool_desc">Осим тога, корисник мора заштити дат налог користећи сигурносна средства која су омогућена , уклјучујући, али не ограничавајући се на:  креирање јаке лозинке; често мењање лозинке; недељење података за пријаву (логин); итд.</p>
                    <p class="tool_desc">ТЕЦНАЛИА и партнери WeLive конзорцијум ће користити податке које су пружили корисници, у циљу управлјања употребом вебсајта, Апликације  и WeLive артефактима. Ми не тргујемо са подацима корисника.</p>
                    <p class="tool_desc">ТЕЦНАЛИА и партнери из WeLive конзорцијума неће прикуплјати личне податке од корисника током коришћења Сервиса. Они могу сакупити неке анонимне статистичке податке у вези са коришћењем оквира и сервиса у цилју поболјшања оквира и сервиса или процене употребе различитих алата и компоненти.</p>
                    <p class="tool_desc">Корисници могу прилагодити коришћење Апликације и претраге одређивањем неких филтера (могу уклјучити личне податке). Они  се  такође не прикуплјају из било ког разлога.</p>

                    <p class="tool_tit">5. ВЛАСНИШТВО НАД ПОДАЦИМА</p>

                    <p class="tool_desc">Подаци који се пружају путем Сервиса и који су доступни преко вебсајта, Апликације и сваке врсте артефакта који су  део WeLive средине, долазе из јавно доступних извора или њихови власници омогућавају њихово јавно коришћење, а самим тим они одржавају власништво над подацима.</p>
                    <p class="tool_desc">Прикуплјање података и или стварање базе података на основу њих није дозволјено, они су само омоћени само за увид.</p>
                    <p class="tool_desc">Корисник може да приступи подацима без накнаде. Свим изведеним радовима који приступају овим подацима би требало омогућити приступ без накнаде.</p>
                    <p class="tool_desc">У појединим ситуацијама корисници ће моћи да апдејтују, модификују, и уносе нове податке у платформу преко вебсајта, Апликације и сваке врсте артефакта која је део WeLive средине. Ови нови подаци ће постати део јавног домена као што су и подаци са којима раде. Уколико имате намеру да објавлјује податке на другим сајтовима, као што су  друштвене мреже или сајтовима трећих лица, молимо вас да узмете у обзир њихову сопствену политику приватности пре објавлјивања било чега. Ми не плаћамо награде за податке објавлјене од стране корисника. Обавештавамо вас да ТЕЦНАЛИА и партнери из WeLive конзорцијума могу изменити све податке објавлјене од стране корисника и уклонити их када сматрају да подаци нису исправни или да крше циљеве сајта.</p>
                    <p class="tool_desc">Уколико имате намеру да задржите нека права над својим подацима или добијете било какву награду за њих, молим вас да их не објавлјујете на нашем сајту.</p>


                    <p class="tool_tit">6. ТАЧНОСТ ПОДАТАКА</p>

                    <p class="tool_desc">Подаци су обезбеђени  као што су обезбеђени на  извору података. ТЕЦНАЛИА и партнери из WeLive конзорцијума нису одговорни за тачност података или штету и директне или индиректне трошкове, проузроковане употребом ових информација.</p>

                    <p class="tool_tit">7. ТРЕЋА ЛИЦА</p>

                    <p class="tool_desc">У појединим ситуацијама корисник може да приступи неким другим сајтовима и друштвеним мрежама, изван ТЕЦНАЛИА-е и партнера из WeLive конзорцијума, којима управлјају трећа лица, путем вебсајта или неке од Апликација. ТЕЦНАЛИА и партнери из WeLive конзорцијума нису одговорни за политику приватности тих сајтова.</p>
                    <p class="tool_desc">Уколико користите свој налог на друштвеним мрежама за приступ нашем сајту или да користите Апликацију, ТЕЦНАЛИА и партнери из WeLive конзорцијум неће прикуплјати ниједну другу информацију осим оне која је потребна за управлјање налогом и омогућавање приступа.</p>
                    <p class="tool_desc">Уколико објавите било какву информацију на друштвеним мрежама, путем Апликације или вебсајта, имајте на уму да ће подаци бити предмет политике приватности и услова те друштвене мреже.</p>


                    <p class="tool_tit">8. ВЛАСНИШТО НАД АПЛИКАЦИЈОМ</p>

                    <p class="tool_desc">Вебсајт, Апликација и сваки други WeLive артефакт је власништво својих аутора. Аутори дају не-ексклузивну и опозиву дозволу за копирање, инсталирање и коришћење Апликације у корисничким уређајима, као и коришћење услуге без додатних трошкова. Ова дозвола не даје Кориснику  било какво право на власништо над Апликацијом, које која ће остати код њених аутора.</p>

                    <p class="tool_tit">9. ДОСТУПНОСТ</p>

                    <p class="tool_desc">ТЕЦНАЛИА и партнери из WeLive конзорцијума не преузимају обавезу у вези доступности сајта, Апликације или информација. У сваком случају, они ће уложити сав свој труд у циљу избегавања или умањења могућности  за стварање прекида током коришћења Сервиса, покушавајући да максимализују време нормалног рада. Провајдер Сервиса ће дати обавештење о сваком предвиђеном прекиду Сервиса на одговарајући начин и покушаће да минимализује застоје.</p>
                    <p class="tool_desc">ТЕЦНАЛИА и партнери WeLive конзорцијума нису одговорни за штету и директне или индиректне трошкове настале услед недоступности Сервиса.</p>

                    <p class="tool_tit">10. ПРАВНА ЗАШТИТА</p>

                    <p class="tool_desc">Одобравамо кориснику не-ексклузивну и опозиву дозволу за инсталирање, копирање и коришћење Апликације у своје уређаје, као и коришћење Сервиса без накнаде.</p>
                    <p class="tool_desc">Сагласни сте да нећете користити апликацију у циљу: </p>

                    <ul>
                        <li> 	ометања или манипулације Сервиса; </li>
                        <li> 	злонамерне измене података;</li>
                        <li> 	прикуплјање података о корисницима апликације; </li>
                        <li> 	претњи, узнемиравања, изнуде других корисника; </li>
                        <li> 	ометања сервиса трећих лица; </li>
                        <li> 	утицања на  ауторска права трећих лица.</li>
                    </ul>

                    <p class="tool_desc">Апликација је обезбеђена као таква и користите је на сопствену одговорност. ТЕЦНАЛИА и партнери из WeLive конзорцијума одричу се одговорности за грешке, кварове у вашем терминалу, прекиде у другим апликацијама, губитак података и недоступност, у случају коришћења Апликације.</p>

                </div>

                <div class="start" ng-click="acceptPrivacy()">Прихватам</div>
                <div class="refuse" ng-click="refusePrivacy()">Одбијам</div>

            </div>

        </div>

    </div>

</ion-view>

